* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

h1 {
    text-align: center;
}

.schedule {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    font-size: 1.3rem;
}

.day {
    border: 2px solid black;
    margin: 15px;
    padding: 5px;
    box-shadow: 10px 15px black;
    border-radius: 15px;
}

.lesson {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    min-height: 75px;
}

.matek {
    background-color: aquamarine;
}

.tori {
    background-color: rosybrown;
}

.nemet {
    background-color: blueviolet;
}

.ab {
    background-color: yellowgreen;
}

.asztali {
    background-color: tomato;
}

.web {
    background-color: sienna;
}

.irodalom {
    background-color: seagreen;
}

.ofo {
    background-color: goldenrod;
}

.tesi {
    background-color: silver;
}

.nyelvtan {
    background-color: peru;
}

.fizika {
    background-color: olivedrab;
}

.angol {
    background-color: lightpink;
}

.ikt {
    background-color: mediumseagreen;
}

.ures {
    background-color: gray;
}

.asztali:hover, 
.angol:hover,
.ab:hover,
.web:hover,
.ikt:hover {
    animation: animacio 0.5s;

}

@media (min-width: 700px) {
    .schedule {
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }

    .lesson {
        font-size: 1.2rem;
    }
}

@media (min-width: 1100px) {
    .schedule {
        grid-template-columns: repeat(5, 1fr);
    }
    .lesson {
        font-size: 1.2rem;
    }
}

@keyframes animacio {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
